## Settings file was created by plugin ShowEnemyHealth Fixed Edition v1.0.0
## Plugin GUID: REPO_ShowEnemyHealth

[Damage]

## Show damage text
# Setting type: Boolean
# Default value: true
ShowEnemyDamage = true

## Damage text size
# Setting type: Single
# Default value: 25
# Acceptable value range: From 10 to 50
DamageFontSize = 25

## Damage highlight color
# Setting type: String
# Default value: red
# Acceptable values: black, blue, cyan, green, grey, magenta, orange, red, white, yellow
DamageFontHighlightColor = red

## Damage text color
# Setting type: String
# Default value: orange
# Acceptable values: black, blue, cyan, green, grey, magenta, orange, red, white, yellow
DamageFontColor = orange

[Health]

## Show enemy health text
# Setting type: Boolean
# Default value: true
ShowEnemyHealth = true

## Health text size
# Setting type: Single
# Default value: 15
# Acceptable value range: From 10 to 50
HealthFontSize = 15

## Health text color
# Setting type: String
# Default value: grey
# Acceptable values: black, blue, cyan, green, grey, magenta, orange, red, white, yellow
HealthFontColor = grey

